/* Styling CSS untuk file HTML versi 16 */

* { /* Tanda bintang (*) digunakan untuk menyeleksi seluruh elemen */
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0; /* Agar elemen body bisa mepet ke halaman web*/
    padding: 0; 
}

/* Styling judul pada elemen h2 dan h3 menjadi biru */
h2, h3 {
    color: #00a2c6;
}

/* Styling header website */
/* Pastikan nama class sama dengan HTML. Besar kecil (kapital) berpengaruh */
.Jumbotron {
    font-size: 25px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
}

header {
    display:inline;
}

/* Pewarnaan background pada elemen nav bar */
nav {
    background-color: #0c68be;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    position: sticky; /* Untuk membuat elemen nav tetap stay di atas screen */
    top: 0;
}

/* Styling font yang ada di list */
nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

/* Styling yang berfungsi apabila kursor mengarahkan ke navigasi, maka style di bawah ini akan bekerja */
nav a:hover {
    background-color: rgba(25, 34, 113, 0.34);
    font-weight: bold;
    color:black;
}

/* Styling navigasi yaitu pada elemen 'li' yang menjadi anak elemen dari 'nav' */
nav li {
    display: inline; /* Mengubah tipe elemen dari BLOCK menjadi INLINE. Hasilnya menjadi ketiga list berada pada satu baris*/
    list-style-type: none; /* Berfungsi untuk menghilangkan tanda titik yang biasanya ada pada sebelum list */
    margin-right: 20px;
}

/* Styling pada elemen aside > article > header */
.profile header {
    text-align: center;
}

/* Pemberian jarak pada elemen main */
main {
    padding: 20px;
    overflow: auto; /* Digunakan agar elemen pada main tidak di-overlap elemen footer */
}

/* Styling pada id="content" */
#content {
    float: left;
    width: 75%; /* ukuran dari #content ini akan menjadi 75% dari panjang layar */
}

aside {
    float: left;
    width: 25%; /* Karena 75% layar sudah digunakan, maka elemen aside menggunakan sisanya */
    padding-left: 20px; /* Pengaturan jarak dengan elemen main */
}

@media screen and (max-width: 1000px) { /* Jika lebar device kurang dari 1000 pixel, maka styling ini akan berlaku */
    #content, aside {
        width: 100%;
        padding: 0;
    }
}

/* Styling seluruh gambar yang ada di website HTML */
.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover; /* Digunakan agar objek gambar terlihat proposional */
    object-position: center; /* Digunakan agar objek gambar terlihat proposional */
}

/* Pengaturan ukuran gambar logo Kota Bandung */
.profile img {
    width: 200px;
}

/* Styling article dengan class card */
/* Styling shadow dan border radius */
.card {
    box-shadow: 2px 8px 32px 2px rgba(0, 0, 0, 2);
    border-radius: 5px;
    padding: 20px;
    margin: 20px 10px 10px 10px;
}

/* Styling footer pada file HTML */
footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}